footer{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #5a189a;
    padding: 3rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    width: 100%;
    height: 5rem;
}