* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, 
  body, 
  #root {
    height: 100vh;
  }

  #root {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body,
  button,
  input,
  textarea {
    font-family: Roboto;
    line-height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 400;
  }

  @media (min-width: 768px) {
    :root {
      font-size: 62.5%;
    }
  }
